<div class="header">
    <h1>rachievements</h1>
</div>

<div class="content">
    <p class="appdescription">A World of Wargraft guild achievement tracker.</p>

    <% for realm, guilds in @guilds.group_by(&:realm) %>
        <h2><%= realm.name %> (<%= realm.region.upcase %>)</h2>
        <ul>
            <% for guild in guilds %>
            <li><%= link_to guild.name, guild_url( guild ) %></li>
            <% end %>
        </ul>
    <% end %>
</div>