<p><%= h @toon.name %> of <%= link_to h(@toon.guild.name), guild_url(@toon.guild) %></p>
<p><%= h @toon.race %> <%= h @toon.classname %></p>
<ul>
<% for atoon in @toon.achievement_toons %>
  <li><%= atoon.achievement.name %> at <%= atoon.created_at %></li>
<% end %>
</ul>