<h1><%= h @guild.name %> on <%= h @guild.realm %></h1>

<p>Last fetched from <%= link_to "armory", @guild.armory_url %>: <%= @guild.fetched_at || "NEVER" %></p>

<p>
  <%= link_to_if params[:action] != "index", "Achievements", :action => "index" %>
  | <%= link_to_if params[:action] != "members", "Members", :action => "members" %>
  | <%= link_to "atom feed", :action => "feed" %>
</p>
