<div class="header">
    <h1><%= h @character.name %> of <%= link_to h(@character.guild.name), guild_url(@character.guild) %> - level <%= @character.level %> <%= h @character.race %> <%= h @character.classname %></h1>
</div>


