<h1><%= h @character.name %> of <%= link_to h(@character.guild.name), guild_url(@character.guild) %></h1>
<p><%= h @character.race %> <%= h @character.classname %></p>

<p>Last fetched from armory: <%= @character.fetched_at || "NEVER" %></p>
<p><%= link_to "atom feed", :action => "feed" %></p>

