<% content_for :rss_autodiscovery do %>
<%= auto_discovery_link_tag(:atom, {:action => "feed"}) %>
<% end %>

<%= render :partial => "header" %>

<div id="content">
    <%= render :partial => "shared/achievement_list", :object => @items %>
    <p class="metadata character-metadata data-freshness website-only">
        Last fetched <%= @character.fetched_at ? time_ago_in_words( @character.fetched_at ) + " ago" : "never" %>
    </p>
</div>

