<% content_for :rss_autodiscovery do %>
<%= auto_discovery_link_tag(:rss, {:action => "feed"}) %>
<% end %>

<%= render :partial => "header" %>

<ul>
<% for cach in @character.character_achievements %>
  <li>'<%= cach.achievement.name %>' <%= time_ago_in_words cach.created_at %> ago.</li>
<% end %>
</ul>