/* style here, ripped off from jerakeen.org */

* {padding: 0; margin: 0;}

body {
  font-family: Trebuchet, "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background: #f3f3f3;
  color: #333;
  text-align: left;
  font-size: 12px;
  padding-left: 10px;
}

/* http://www.sovavsiti.cz/css/hr.html */
hr {
  width: 95%; 
  color: #333;
  background-color: #333;
  border: 0;
  padding: 0;
  margin: 2em;
  height: 1px;
}

h1 { font-size: 1.7em }
h2 { font-size: 1.3em }
h3 { font-size: 1.2em }

a {
  color: #0000ff;
  text-decoration: none;
  border-bottom: 1px dotted #0000ff;
}
a:hover {
  color: #0000ff;
  text-decoration: none;
  border-bottom: 1px solid #0000ff;
}
a:visited {
  color: #0000ff;
  text-decoration: none;
  border-bottom: 1px dotted #0000ff;
}
a.withImage { /* this class added by JS. eww. */
  border: none !important;
}
a img { border: none }

h1 {
  margin-bottom: 0;
  margin-top: 10px;
}

h2 {
  margin-bottom: 0;
  margin-top: 30px;
}

h3 {
  margin-bottom: 0;
  margin-top: 20px;
  color: #666;;
}

p,li {
  margin-bottom: 1em;
}
ul {
  margin-left: 1.4em;
  margin-right: 4em;
}

table td, table th {
    padding: 3px 10px 3px 3px;
    margin: 3px;
}

.evenrow {
    background: #ddd;
}