development:
  adapter: mysql
  database: rachievements
  username: root

production:
  adapter: mysql
  database: rachievements
  username: root

test:
  adapter: sqlite3
  database: db/test.sqlite3
  pool: 5
  timeout: 5000
