<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
      <title><%= @title || "Guild achievements" %></title>
      <meta name="viewport" content="user-scalable=no, width=device-width" />
      <%= stylesheet_link_tag 'style.css', :media => "screen and (min-width: 481px)" %>
      <meta name="apple-mobile-web-app-capable" content="yes" />  
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
      <%= javascript_include_tag "tablesort.min.js" %>
      <%= yield :rss_autodiscovery %>
      <!-- http://www.wowhead.com/?forums&topic=3464 -->
      <script type="text/javascript" src="http://www.wowhead.com/widgets/power.js"></script>
    </head>
    <body>

    <div id="goodbox">
        <%= yield %>
    </div>

    <p style="font-size: 90%">rachievments &mdash; another fine <a href="http://jerakeen.org/">Tom Insam</a> product.</p>

    <% if ENV["RAILS_ENV"] == 'production' %>
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            try {
                var pageTracker = _gat._getTracker("UA-3602266-3");
                pageTracker._trackPageview();
            } catch(err){}
        </script>
    <% end %>

    <style type="text/css">
        #progress { 
            -webkit-border-radius: 10px;
            background-color: rgba(0,0,0,.7);
            color: white;
            font-size: 18px;
            font-weight: bold;
            height: 80px;
            left: 60px;
            line-height: 80px;
            margin: 0 auto;
            position: absolute;
            text-align: center;
            top: 120px;
            width: 200px;
        }    
    </style>

    <script type="text/javascript">
        function iPhoneOS() {
            var version = navigator.userAgent.match('iPod') || navigator.userAgent.match('iPhone') ? 1.0 : false;
            if (match = /iPhone OS (.*) like Mac OS X/.exec(navigator.userAgent)) {
                version = parseInt(match[1].replace('_', ''), 10) / 100;
                if (version < 1) {
                    version *= 10;
                }
            }
            return version;
        }
        
        var isIphone = window.location.search === '?iphone' || iPhoneOS() !== false;
        
        if ( isIphone ) {
            function xhrLinks(){
                $('#goodbox').delegate('a[href]', 'click', function( e ){
                    
                    var isExternal = /^http(s)?\:\/\//.test( $(e.target).attr('href') );
                    
                    if ( !isExternal ){
                        $('body').append('<div id="progress">Loading...</div>');
                        $('#goodbox').load( e.target.href, function(){
                            $('#progress').remove();
                        });
                        e.stopPropagation();
                        return false
                    }
                })
            }

            $.ajaxSetup({
              beforeSend: function(xhr) {
                  xhr.setRequestHeader("Accept", "text/javascript");
              }
            });

            $(document).ready( xhrLinks );
        }
    </script>
    </body>
</html>

